@import "../../../sass/variables";
:host {
  float: right;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 3px;
  span {
    transition: all 300ms;
    &.invalid {
    color: $warning-text-color;
    }
  }
}
