@import "variables";

label {
  display: block;
  font-weight: 600;
  margin: 0;
}

input, textarea, select {
  background: $background-light;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  display: block;
  padding: 10px;
  width: 100%;
  transition: all 400ms ease-out;
  form label + & {
    margin: 5px 0 0 0;
  }
  &:disabled {
    background: $background-slightly-darker-than-light;
    color: rgba($body-text-color, 0.75);
    cursor: default;
    pointer-events: none;
  }
  &:focus:not(:disabled), &:focus-visible:not(:disabled) {
    border: 1px solid $accent-color;
    outline: none;
  }
  &.ng-touched.ng-invalid {
    background: #f5e5ea;
    border: 1px solid rgba(#b30032, 0.2);
    color: $error-main-color;
  }
  &.btn {
    cursor: pointer;
    padding: 20px;
    //width: 25%;
    max-width: 400px;
    &:hover {
      background: $background-slightly-darker-than-light;
    }
    &.primary {
      background: $accent-color;
      color: $accent-color-contrast;
      border: none;
      &:active, &:hover {
        background: $accent-color-hover;
      }
    }
    &.create {
      background: $success-main-color;
      color: $success-contrast-color;
      border: none;
      &:active, &:hover {
        background: $success-hover-background-color;
      }
    }
  }
}

textarea {
  font-family: inherit;
  resize: vertical;
}

.form-row {
  margin-bottom: 30px;
  position: relative;
  &.inline {
    display: flex;
    gap: 30px;
    & > * {

    }
  }
}
