@import "variables";

label {
  display: block;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

input, textarea, select {
  background: $background-slightly-darker-than-light;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
  transition: all 600ms ease-out;
  &:active, &:focus, &:focus-visible {
    border: 1px solid $accent-color;
    outline: none;
  }
  &.btn {
    cursor: pointer;
    padding: 20px;
    &.primary {
      background: $accent-color;
      color: $accent-color-contrast;
      border: none;
    }
  }
}

textarea {
  font-family: inherit;
  resize: vertical;
}
