$body-text-color: #2c3e4c;
$accent-color: #0063b3;
$accent-color-hover: #1ba1e2;
$accent-color-contrast: #fff;
$hover-background-color: #ddd;
$background-light: #f2f4f6;
$background-slightly-darker-than-light: #e5e9ed;

$table-row-background-color-1: $background-light;
$table-row-background-color-2: $background-slightly-darker-than-light;

$success-main-color: #00b360;
$success-contrast-color: #fff;
$success-hover-background-color: #028f4d;

$error-main-color: #b30032;

$main-padding-x: 25px;
$main-padding-y: 20px;

$border-radius: 5px;

@mixin box-shadow {
  box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.15);
}
