$body-text-color: #333;
$accent-color: #0063b3;
$accent-color-contrast: #fff;
$hover-background-color: #ddd;
$background-light: #f2f4f6;
$background-slightly-darker-than-light: #e5e9ed;

$main-padding-x: 25px;
$main-padding-y: 20px;

$border-radius: 5px;
