$body-text-color: #2c3e4c;
$accent-color: #0063b3;
$accent-color-hover: #1ba1e2;
$accent-color-contrast: #fff;
$hover-background-color: #ddd;
$background-light: #f2f4f6;
$background-slightly-darker-than-light: #e5e9ed;

$warning-text-color: #b30032;

$main-padding-x: 25px;
$main-padding-y: 20px;

$border-radius: 5px;
