.headers, .customer {
  display: flex;
  //margin: 0 -20px;

  & > * {
    padding: 20px;
    border: 1px solid red;
  }

  .id {
    flex-basis: 35%;
  }

  .firstname {
    flex-basis: 20%;
  }

  .lastname {
    flex-basis: 20%;
  }

  .actions {
    flex-basis: 25%;
    display: flex;
    gap: 10px;
  }
}

.customer {
  background: #0063b3;
  &:nth-child(odd) {
    background: #ddd;
  }
}
