<main-title [showFilter]="true" (filterChanged)="setFilter($event)">
  Items
</main-title>
<app-tool-bar>
  <div *ngIf="nameFilterText">Searching for name: <strong>{{ nameFilterText }}</strong></div>
</app-tool-bar>
<div class="items" *ngIf="items">
  <div class="item" *ngFor="let item of items | searchFilter: nameFilterText:'name'" routerLink="/items/{{item.id}}">
    <div class="item-content">
      <div class="name">{{ item.name }}</div>
      <img src="../../../../assets/images/image-not-found.svg" alt="">
      <div class="price-stock">
        <div class="price"><span class="currency-symbol">€</span>{{ item.price | currency:'EUR':'':'1.2-4' }}</div>
        <div class="stock">{{ item.stockUrgency | stockUrgencyLabel | titlecase }} <img
          src="assets/images/stock/{{ item.stockUrgency | stockUrgencyImage }}" alt=""></div>
      </div>
    </div>
  </div>
</div>
<p></p>
<input type="button" class="btn primary" routerLink="/items/new" value="Add Item">
<!--
<app-dialog>
  <div>I'm inside the dialog</div>
  <app-about-view></app-about-view>
</app-dialog>
-->
