<div *ngIf="item">
  <main-title>Item {{ item.id }}</main-title>
  <form class="mt-20" [formGroup]="editItemFormGroup" (ngSubmit)="onSubmit()">
    <label for="form-name">Name</label>
    <input id="form-name" type="text" value="{{ item.name }}">
    <label for="form-desc">Description</label>
    <textarea id="form-desc" rows="5">{{ item.description }}</textarea>
    <label for="form-price">Price</label>
    <input id="form-price" type="number" value="{{ item.price }}">
    <label for="form-stock">Stock</label>
    <input id="form-stock" type="number" value="{{ item.amountOfStock }}">
    <input class="btn primary" type="submit" value="Edit">
    <input class="btn" type="button" routerLink=".." value="Cancel">
  </form>
</div>
