:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  //background: #dadada;
  border-bottom: 1px solid #d0d3d5;
  margin: 0 0 20px 0;
}

.title {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: -0.05em;
  flex: 1;
  margin: 0;
}

.filter {
  width: 20%;
}
