:host {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  //background: blue;
  flex-direction: column;
}

img {

}

h6 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}

div {
  margin-bottom: 30px;
}
