<main-title [showFilter]="true" (filterChanged)="setFilter($event)">Items</main-title>
Received from filter component: {{ filterText }}
<div class="items">
  <div class="item" *ngFor="let item of items">
    <div class="name">{{ item.name }}</div>
    <img src="assets/images/image-not-found.svg" alt="">
    <div class="price-stock">
      <div class="price"><span class="currency-symbol">€</span>{{ item.price | currency:'EUR':'':'2.2-4' }}</div>
      <div class="stock">{{ item.stockUrgency | stockUrgencyLabel | titlecase }} <img src="assets/images/stock/{{ item.stockUrgency | stockUrgencyImage }}" alt=""></div>
    </div>
  </div>
</div>
